# {{ ansible_managed }}

# TODO: Complement using https://github.com/Ansibles/mysql/blob/master/templates/etc_mysql_my.cnf.j2 and https://www.assembla.com/code/aplyca/git/nodes/master/server/mysql/my.cnf
# TODO: Complenet default vars

[client]
port = {{ mysql["cnf"]["client"]["port"] | default("3306") }}

[mysqld]
bind-address = {{ mysql["cnf"]["mysqld"]["bind-address"] | default("127.0.0.1")}}

# * Fine Tuning
key_buffer = {{ mysql["cnf"]["mysqld"]["key_buffer"] | default("16M") }}

[mysqldump]
max_allowed_packet = {{ mysql["cnf"]["mysqldump"]["max_allowed_packet"] | default("16M") }}
