# {{ ansible_managed }}

[client]
{%- set x = mysql.cnf.client-%} 
{%- for k, v in x.items()  %} 
{{ k }} = {{ v }}
{%- endfor %}


# mysql settings
[mysqld]
{%- set x = mysql.cnf.mysqld  -%} 
{%- for k, v in x.items()  %} 
{{ k }} = {{ v }}
{%- endfor %}


# set parameters for mysqldump
[mysqldump]
{%- set x = mysql.cnf.mysqldump  -%} 
{%- for k, v in x.items()  %} 
{{ k }} = {{ v }}
{%- endfor %}
